html {

    background-color: antiquewhite;
}
#btn-group{
    width: max-content;
    margin:auto;
}
h1 {
    font-family:'Stencil Std';
    display: block;
    text-align: center;
}
canvas {
    display: block;
    margin: 10px auto;    
    border: 2px ridge rgb(255, 140, 0);
    background-color: black;    
}